
html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #;
    color: #333;
}

.resume-wrapper {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #555;
}

/* Header Section */
.header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #ccc;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #666;
}

.profile-details {
    flex-grow: 1;
}

.profile-details h1 {
    font-size: 26px;
    margin: 0;
}

.profile-details p {
    font-size: 14px;
    margin: 5px 0;
    color: #555;
}


.about {
    margin-top: 20px;
    padding: 20px;
    background: #e6e6e6;
    border-radius: 5px;
}

.about h2 {
    margin: 0;
    font-size: 22px;
}


.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}


.education {
    flex: 1;
    padding: 15px;
    margin: 10px;
    background: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.education h2 {
    font-size: 20px;
    border-bottom: 2px solid #aaa;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.education-entry {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 5px 0;
}

.edu-left {
    flex: 1;
    font-weight: bold;
    color: #555;
    font-size: 16px;
    text-align: right;
    margin-left: 0px;
    margin-right: 100px;
}

.edu-right {
    flex: 2;
    font-size: 16px;
    color: #333;
    margin-left: 10px;
}

.edu-right i {
    font-style: italic;
}

.edu-left, .edu-right {
    line-height: 1.5;
}

/* Skills Section */
.skills-list {
    margin-left: 50px;
    padding-left: 20px;
    list-style-type: "→ ";
    text-align: left;
}

/* Dark Mode */
.dark-mode { 
    color: #ffffff; 
}

.dark-mode .edu-left {
    flex: 1;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    text-align: right;
    margin-right: 20px;
}

.dark-mode .edu-right {
    flex: 2;
    font-size: 16px;
    color: #efeaea;
}

.dark-mode .resume-wrapper {
    background-color: #1e1e1e; 
}

.dark-mode h2, 
.dark-mode h1, 
.dark-mode p, 
.dark-mode li, 
.dark-mode a {
    color: #ffffff; 
}

.dark-mode .about, 
.dark-mode .education, 
.dark-mode .attachments {
    background-color: #222; 
    color: #ffffff;
    border-color: #555; 
}
